version: 2
log-level: 1
root-markers:
- .git/
- package.json

tools:
  stylua: &stylua
    format-command: "stylua -s --color Never -"
    format-stdin: true
    require-marker: true
    root-markers:
      - stylua.toml
      - .stylua.toml

  golint: &golint
    lint-command: 'golint - '
    lint-stdin: true
    lint-formats:
      - '%.%#:%l:%c: %m' 
    require-marker: true
    root-markers:
      - go.mod
      - go.sum

  gofmt: &gofmt
    format-command: "gofmt"
    format-stdin: true
    require-marker: true
    root-markers:
      - go.mod
      - go.sum

  golines: &golines
    format-command: "golines"
    format-stdin: true
    require-marker: true
    root-markers:
      - go.mod
      - go.sum

  goimports: &goimports
    format-command: "goimports"
    format-stdin: true
    require-marker: true
    root-markers:
      - go.mod
      - go.sum

  mypy: &mypy
    lint-command: 'mypy --show-column-numbers'
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  ruff-format: &ruff-format
    format-command: "ruff --fix -e -n --stdin-filename -"
    format-stdin: true

  swift-format-format: &swift-format-format
    format-command: "swift-format"
    format-stdin: false
    root-markers:
      - .swift-format
      - .git

  swift-format-lint: &swift-format-lint
    lint-command: "swift-format lint --assume-filename"
    lint-stdin: false
    lint-ignore-exit-code: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'
    root-markers:
      - .swift-format
      - .git

  prettier: &prettier
    format-command: >
      ./node_modules/.bin/prettier --stdin --stdin-filepath ${INPUT} 
        # ${--range-start:charStart} \
        # ${--range-end:charEnd} \
        # ${--tab-width:tabSize} \
        # ${--use-tabs:!insertSpaces}
    format-stdin: true
    format-can-range: true
    require-marker: true
    root-markers:
      - .prettierrc
      - .prettierrc.json
      - .prettierrc.js
      - .prettierrc.yml
      - .prettierrc.yaml
      - .prettierrc.json5
      - .prettierrc.mjs
      - .prettierrc.cjs
      - .prettierrc.toml

  fish_indent: &fish_indent
    format-command: "fish_indent"
    format-stdin: true

  fish_diagnostics: &fish_diagnostics
    lint-command: "fish --no-execute ${INPUT}"
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - '%.%#(line %l): %m'

  hadolint: &hadolint
    lint-command: 'hadolint'
    lint-stdin: true
    lint-formats:
      - '%f:%l %m'

  actionlint-lint: &actionlint-lint
    prefix: actionlint
    lint-command: "bash -c \"[[ '${INPUT}' =~ \\\\.github/workflows/ ]]\" && actionlint -oneline -no-color -"
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m"
    root-markers:
      - .github

  fixjson: &fixjson
    format-command: fixjson --stdin-filename ${INPUT}
    format-stdin: true

  textlint: &textlint
    lint-command: 'textlint -f unix --stdin --stdin-filename ${INPUT}'
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m [%trror/%r]'
    root-markers:
      - .textlintrc
      - .git

languages:
  # lua
  lua:
    - <<: *stylua

  # python
  python:
    - <<: *mypy
    - <<: *ruff-format

  # go
  go:
    - <<: *golint
    - <<: *gofmt
    - <<: *golines
    - <<: *goimports

  # web
  ## markup
  html:
    - <<: *prettier
  svelte:
    - <<: *prettier
  vue:
    - <<: *prettier
  astro:
    - <<: *prettier
  javascriptreact:
    - <<: *prettier
  javascript.jsx:
    - <<: *prettier
  typescriptreact:
    - <<: *prettier
  typescript.tsx:
    - <<: *prettier
  markdown:
    # - <<: *prettier
    - <<: *textlint
  markdown.mdx:
    # - <<: *prettier
    - <<: *textlint
  ## styles
  css:
    - <<: *prettier
  scss:
    - <<: *prettier
  less:
    - <<: *prettier
  ## scripts
  javascript:
    - <<: *prettier
  typescript:
    - <<: *prettier
  ## other
  graphql:
    - <<: *prettier
  handlebars:
    - <<: *prettier

  # swift
  swift:
    # - <<: *swift-format-format
    # - <<: *swift-format-lint

  # config
  json:
    - <<: *fixjson
    - <<: *prettier
  jsonc:
    - <<: *prettier
  json5:
    - <<: *prettier
  yaml:
    - <<: *prettier
    - <<: *actionlint-lint

  # shell
  fish:
    - <<: *fish_diagnostics
    - <<: *fish_indent

  # docker
  dockerfile:
    - <<: *hadolint
