name: Aqua

on:
  push:
    paths:
      - 'aqua/**'
      - '.github/workflows/aqua.yaml'
  pull_request:

jobs:
  aqua-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1

      - name: Cache Tools
        id: cache-tools
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.local/share/aquaproj-aqua
          key: cache-tools-${{ hashFiles('aqua.yaml') }}

      - name: Validate aqua configuration
        run: aqua install --all
        env:
          GH_TOKEN: ${{ github.token }}
