name: aqua
on:
  push:
    paths:
      - aqua/**
      - .github/workflows/aqua.yaml
  pull_request:
    paths:
      - aqua/
      - .github/workflows/aqua.yaml
jobs:
  aqua-ci:
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      AQUA_CONFIG: ${{ github.workspace }}/aqua/aqua.yaml
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/env-setup
        with:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          aqua_config: ${{ env.AQUA_CONFIG }}
      # - name: Aqua install test
      #   run: aqua install
