name: Aqua

on:
  push:
    paths:
      - 'aqua/**'
      - '.github/workflows/aqua.yaml'
  pull_request:
    paths:
      - 'aqua/**'
      - '.github/workflows/aqua.yaml'

jobs:
  aqua-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - name: Validate aqua configuration
        run: aqua install --test
