name: ci
on:
  push:
  pull_request:
jobs:
  secretlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: setup bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: latest
      - name: secretlint
        shell: bash
        run: bun x @secretlint/quick-start  $(find . -type f)
