name: ci
on:
  push:
  pull_request:
jobs:
  secretlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: setup bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: latest
      - name: secretlint
        shell: bash
        run: bun x @secretlint/quick-start  $(find . -type f)
