name: neovim ci
on:
  push:
    paths:
      - nvim/**
      - .github/workflows/neovim.yaml
  pull_request:
    paths:
      - nvim/**
      - .github/workflows/neovim.yaml
jobs:
  neovim-ci:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: copy neovim config
        run: cp -r ${{ github.workspace }}/nvim/ ~/.config/nvim/
      - name: Install neovim
        uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
        with:
          neovim: true
          version: nightly
      - name: Install dependencies
        run: nvim --headless "+Lazy! sync" +qa
