name: Nix Build

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'Operating system to build'
        required: true
        type: choice
        options:
          - 'both'
          - 'ubuntu'
          - 'macos'
        default: 'both'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: homeConfigurations.ryoppippi.activationPackage
            name: Linux (Home Manager)
            condition: ubuntu
          - os: macos-latest
            target: darwinConfigurations.ryoppippi.system
            name: macOS (nix-darwin)
            condition: macos
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.name }}
    if: inputs.os == 'both' || inputs.os == matrix.condition
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ./.github/actions/setup-nix

      - name: Build ${{ matrix.name }} configuration
        run: |
          nix build .#${{ matrix.target }} \
            --print-build-logs \
            --show-trace
