name: Renovate config linter

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json
      - renovate.5json
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json
      - renovate.5json

jobs:
  renovate-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.1.1
