name: Renovate config linter

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json
      - renovate.5json
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json
      - renovate.5json

jobs:
  renovate-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
